<span class="userName">
    {{user.name}} {{user.surname}}
</span>
<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
    <img src="assets/images/users/1.jpg" alt="user" class="profile-pic"> </button>
<mat-menu #profile="matMenu">
    <button mat-menu-item>
        <mat-icon>settings</mat-icon> Configuraciones </button>
    <button mat-menu-item>
        <mat-icon>account_box</mat-icon> Perfil </button>

    <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon> Cerrar sesión </button>
</mat-menu>