table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.custom-button{
  position: absolute;
  right: 35px;
  top: 125px;
}

.mat-radio-button ~ .mat-radio-button {
  padding-right: 16px;
}

.example-radio-group {
  align-content: center;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}
