<mat-card>
  <mat-card-header>
    <mat-card-title>Listado de Lotes</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-radio-group layout="row">
      <mat-radio-button class="example-radio-button" value="1" [checked]="true">Todos los casos</mat-radio-button>
      <mat-radio-button class="example-radio-button" value="2">Casos finalizados</mat-radio-button>
      <mat-radio-button class="example-radio-button" value="3">Casos pendientes</mat-radio-button>
    </mat-radio-group>

    <div class="mat-elevation-z8">

      <button mat-mini-fab color="primary" class="custom-button">
        <mat-icon>add</mat-icon>
      </button>

      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="hojaRuta">
          <th mat-header-cell *matHeaderCellDef> Hoja de Ruta </th>
          <td mat-cell *matCellDef="let row"> {{row.hojaRuta}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaInicioProceso">
          <th mat-header-cell *matHeaderCellDef> Registro el </th>
          <td mat-cell *matCellDef="let row"> {{row.fechaInicioProceso}} </td>
        </ng-container>


        <ng-container matColumnDef="fechaFinProceso">
          <th mat-header-cell *matHeaderCellDef> Finalizado el </th>
          <td mat-cell *matCellDef="let row"> {{row.fechaFinProceso}} </td>
        </ng-container>

        <ng-container matColumnDef="descripcionEstado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let row"> {{row.descripcionEstado}} </td>
        </ng-container>

        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let row">
          <div *ngFor='let opcion of row.opciones' >
              <mat-icon *ngIf="opcion.descripcion == 'Ver'">visibility</mat-icon>
              <mat-icon *ngIf="opcion.descripcion == 'Editar'">edit</mat-icon>
              <mat-icon *ngIf="opcion.descripcion == 'Finalizar'">done</mat-icon>
          </div>

          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>
  </mat-card-content>
</mat-card>