<mat-card>
  <mat-card-header>
    <mat-card-title>Listado de Lotes</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-radio-group layout="row">
      <mat-radio-button class="example-radio-button" value="1" [checked]="true" (click)="applyFilter('all')">Todos los casos</mat-radio-button>
      <mat-radio-button class="example-radio-button" value="2" (click)="applyFilter('1')">Casos finalizados</mat-radio-button>
      <mat-radio-button class="example-radio-button" value="3"(click)="applyFilter('0')">Casos pendientes</mat-radio-button>
    </mat-radio-group>

    <div class="mat-elevation-z8">

      <button mat-mini-fab color="primary" class="custom-button" (click)="openDialog()">
        <mat-icon>add</mat-icon>
      </button>
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="fechaRegistro">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Registró el </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaRegistro}} </td>
        </ng-container>

        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Finalizado el </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
        </ng-container>

        <ng-container matColumnDef="idEstado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
          <td mat-cell *matCellDef="let element"> {{element.idEstado == 0 ? 'Pendiente': 'Finalizado'}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">


            <button mat-icon-button color="primary" *ngIf="element.idEstado == 1">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button color="accent" *ngIf="element.idEstado == 0">
              <mat-icon>build</mat-icon>
            </button>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>